{{#each comics}}
{{#with data}}

<div class="comic-item" id="comic-{{@key}}">
  <h3>{{title}}</h3>
  <p>{{summary}}</p>

  <img src="{{../serverPath}}/cover.png" alt="{{title}} cover">

  <div>version: {{version}}</div>
  <div>published: {{publish_date}}</div>
  <div>orientation: {{config.orientation}}</div>

  {{#if creators}}
  <h4>Creators</h4>
  <dl>
    {{#each creators}}
    <dt>{{name}}</dt>
      <dd>{{role}}</dd>
    {{/each}}
  </dl>
  {{/if}}

  <a href="{{../serverPath}}">View comic</a>
  {{#if ../../internal}}
  <button class="open-int" data-id="{{@key}}">View in browser</button>
  {{/if}}
</div>

{{/with}}
{{/each}}

<script>
$('.open-int').on('click', function(e) {
  e.preventDefault();
  var id = $(this).data('id');
  sendMessage('open-int', { id: id });
});
</script>