{{#each library}}
{{#with data}}

<div class="library-item" id="library-{{@key}}">
  <h3>{{title}}</h3>
  <p>{{breaklines summary}}</p>
  
  <img src="{{../serverPath}}/cover.png" alt="{{title}} cover">
  
  <div>version: {{version}}</div>
  <div>published: {{publish_date}}</div>
  <div>orientation: {{config.orientation}}</div>
  
  {{#if creators}}
  <h4>Creators</h4>
  <dl>
    {{#each creators}}
    <dt>{{name}}</dt>
      <dd>{{role}}</dd>
    {{/each}}
  </dl>
  {{/if}}
  
  <a href="{{../serverPath}}">View comic</a>
  {{#if ../../internal}}
  <button class="open-ext" data-id="{{@key}}">View in browser</button>
  <button class="open-folder" data-id="{{@key}}">View folder</button>
  <button class="remove-entry" data-id="{{@key}}">Remove entry</button>
  {{/if}}
</div>

{{/with}}
{{/each}}