{{#each library}}
{{#with data}}
<h3>{{title}}</h3>
<p>{{summary}}</p>

<img src="{{../serverPath}}/cover.png" alt="{{title}} cover">

<div>version: {{version}}</div>
<div>published: {{publish_date}}</div>
<div>orientation: {{config.orientation}}</div>

{{#if creators}}
<h4>Creators</h4>
<dl>
  {{#each creators}}
  <dt>{{name}}</dt>
    <dd>{{role}}</dd>
  {{/each}}
</dl>
{{/if}}

<a href="{{../serverPath}}">View comic</a>
{{#if ../../internal}}
<button class="open-ext" data-id="{{@key}}">View in browser</button>
<button class="open-folder" data-id="{{@key}}">View folder</button>
{{/if}}
{{/with}}
{{/each}}


<script>
var loadLibraryItem = function(item) {
  console.log(item);
};

$('.open-ext').on('click', function(e) {
  e.preventDefault();
  var id = $(this).data('id');
  sendMessage('open-ext', { id: id });
})

$('.open-folder').on('click', function(e) {
  e.preventDefault();
  var id = $(this).data('id');
  sendMessage('open-folder', { id: id });
})
</script>