{{#each libraryList}}
{{#with (lookup ../library this)}}
{{#with data}}
<li class="list__item id--{{../../this}}">
  <div class="list__item__img">
    <img src="/{{../../this}}/cover.png">
  </div>
  <div class="list__item__content">
    <h2 class="list__item__title">{{title}}</h2>
    {{#if creators}}
    by
    <ul class="list__item__authors">
      {{#each creators}}
      <li class="list__item__author author">{{name}}</li>
      {{/each}}
    </ul>
    {{/if}}
    <div class="list__item__buttons">
      <a href="#/library-item/{{../../this}}" class="button">More info</a>
    </div>
  </div>
</li>
{{/with}}
{{/with}}
{{/each}}