{{#with item}}
{{#with data}}

<div class="more__item">
  <div class="more__item__img">
    {{#if ../cover}}
    <img src="/{{../../../id}}/cover.png">
    {{else}}
    <img src="/images/cover.png">
    {{/if}}
  </div>
  <div class="more__item__content">
    {{#if title}}<h2>{{../title}}</h2>{{/if}}
    
    {{#if ../url}}<div class="more__item__data">{{../../url}}</div>{{/if}}
    
    <div class="more__item__data">version: {{version}}</div>
    
    {{#if publish_date}}<div class="more__item__data">published: {{../publish_date}}</div>{{/if}}
    
    {{#if summary}}<p class="more__item__summary">{{breaklines ../summary}}</p>{{/if}}

    {{#if creators}}
    <ul class="more__item__creators">
      {{#each creators}}
      <li class="more__item__creator">
        {{#if role}}<span class="role more__item__role">{{../role}}:</span>{{/if}}
        {{#if name}}<span class="author more__item__author">{{../name}}</span>{{/if}}
      </li>
      {{/each}}
    </ul>
    {{/if}}

    {{#if config.features}}
    <ul class="more__item__features">
    {{#each config.features}}
      <li class="more__item__feature">
        <h3 class="more__item__feature__title">{{this}}</h3>
        <div class="more__item__feature__img">
          <img src="images/{{this}}.svg">
        </div>
        <p class="more__item__feature__desc">{{lookup ../../../../features this}}</p>
      </li>
    {{/each}}
    </ul>
    {{/if}}
  </div>
</div>
<div class="more__item__buttons more__item__buttons--library">
  <input type="button" class="button js-open-comic" data-url="{{../serverPath}}" value="Start reading">
  {{#eq ../../section 'store'}}
  <a href="#/store/{{../../../id}}" class="button">Back to store</a>
  {{/eq}}
  {{#eq ../../section 'library'}}
  <a href="#/library/{{../../../id}}" class="button">Back to library</a>
  {{/eq}}
  {{#eq ../../section 'add'}}
  <a href="#/add" class="button">Back to import</a>
  {{/eq}}
  {{#if ../../internal}}
  <input type="button" class="button js-delete-comic" data-id="{{../../../id}}" value="Delete comic">
  {{/if}}
</div>

{{/with}}
{{/with}}