{{#each libraryList}}
{{#with (lookup ../library this)}}
{{#with data}}
<li class="list__item id--{{../../this}}">
  <div class="list__item__img">
    {{#if ../cover}}
    <img src="/{{../../../this}}/cover.png">
    {{else}}
    <img src="/images/cover.png">
    {{/if}}
  </div>
  <div class="list__item__content">
    {{#if title}}<h2 class="list__item__title">{{../title}}</h2>{{/if}}
    
    {{#if creators}}
    <ul class="list__item__authors">
      {{#each creators}}
      {{#if name}}<li class="list__item__author author">{{../name}}</li>{{/if}}
      {{/each}}
    </ul>
    {{/if}}
    
    <div class="list__item__buttons">
      <a href="#/library-item/{{../../this}}" class="button">More info</a>
    </div>
  </div>
</li>
{{/with}}
{{/with}}
{{/each}}

{{#unless libraryList}}
<p>You have no comics in your collection, maybe you would like to take a look at our <a href="#/store">recommendation</a> or you could <a href="#/add">import</a> from the Web or your device.</p>
{{/unless}}