{{#each store.library}}
{{#with data}}
<li class="list__item" id="list__item--{{../id}}">
  <div class="list__item__img">
    {{#if ../cover}}
    <img src="/store/{{../../cover}}">
    {{else}}
    <img src="/images/cover.png">
    {{/if}}
  </div>
  <div class="list__item__content">
    <h2 class="list__item__title">{{title}}</h2>
    {{#if creators}}
    by
    <ul class="list__item__authors">
      {{#each creators}}
      <li class="list__item__author author">{{name}}</li>
      {{/each}}
    </ul>
    {{/if}}
    <div class="list__item__buttons">
      <a href="#/store/{{../id}}" class="button">More info</a>
    </div>
  </div>
</li>
{{/with}}
{{/each}}